<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">
<body>
	<div layout:fragment="content">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE BAR -->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li><a href="index.html">Tableau de bord</a> <i
						class="fa fa-circle"></i></li>
					<li><span>liste des chauffeurs</span></li>
				</ul>
			</div>
			<!-- END PAGE BAR -->
			<!-- BEGIN PAGE TITLE-->
			<h1 class="page-title">
				Chauffeurs
				<small class="pull-right"> 
					<a class="btn red btn-md" href="#" target="_self"> 
						<i class="fa fa-plus"></i> &nbsp; Nouveau chauffeur
					</a>
				</small>
			</h1>
			<!-- END PAGE TITLE-->
			<!-- END PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<div class="portlet grey-cascade box">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject uppercase">
									Liste des chauffeurs
								</span>
							</div>
							<div class="tools">
		                        <a href="" class="fullscreen" data-original-title="Agrandir" title="Agrandir"> </a>
		                    </div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered dataTable">
		                        <thead>
		                            <tr>
		                                <th>Matricule</th>
		                                <th>Nom</th>
		                                <th>Prenom</th>
		                                <th>Tel</th>
		                                <th>Actions</th>
		                            </tr>
		                        </thead>
		                        <tbody>
			                        <tr th:each="chauffeur:${chauffeurs}">
			                            <td class="td-keys" th:text="${chauffeur.matricule}"></td>
			                            <td class="td-keys" th:text="${chauffeur.nom}"></td>
			                            <td class="td-keys" th:text="${chauffeur.prenom}"></td>
			                            <td class="td-keys" th:text="${chauffeur.tel}"></td>
			                            <td class="td-actions">
                                        	<a th:href="@{'/chauffeur/show/' + ${chauffeur.id}}" class="btn blue btn-sm uppercase">Details</a>
			                                <a th:href="@{'/chauffeur/show/' + ${chauffeur.id}}" class="btn yellow btn-sm uppercase">Voyages / Locations</a>
			                            	<a th:href="@{'/chauffeur/edit/' + ${chauffeur.id}}" class="btn green-jungle btn-sm uppercase">
			                                	<i class="fa fa-edit"></i>
			                                </a>
			                                <form th:action="@{ '/chauffeur/delete/' + ${ chauffeur.id } }" style="display: inline-block" method="POST">
									 			<input type="hidden" name="_method" value="DELETE">
				                                <button class="btn red-flamingo btn-sm uppercase">
				                                	<i class="fa fa-trash-o"></i>
				                                </button>
				                            </form>
			                            </td>
			                        </tr>
		                        </tbody>
		                    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>