<!DOCTYPE html>
<html 	lang="en" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/master">
<head>
	<meta charset="utf-8" />
	<!-- Title -->
	<title>Editer l'autocar</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE BAR -->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li><a href="index.html">Tableau de bord</a> <i
						class="fa fa-circle"></i></li>
					<li><span>liste des autocars</span></li>
				</ul>
			</div>
			<!-- END PAGE BAR -->
			<!-- BEGIN PAGE TITLE-->
			<h1 class="page-title">
				Editer l'autocar <span th:text="${autocar.matricule}"></span>
				<small class="pull-right"> 
					<a class="btn green btn-md" href="#" target="_self"> 
						<i class="fa fa-eye"></i> &nbsp; Liste des autocars
					</a>
				</small>
			</h1>
			<!-- END PAGE TITLE-->
			<!-- END PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject bold uppercase font-dark">
									Editer l'autocar <span th:text="${autocar.matricule}"></span>
								</span>
							</div>
							<div class="actions">
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
							</div>
						</div>
						<div class="portlet-body form">
							<form th:action="@{ '/autocar/update/' + ${ autocar.id } }" method="POST">
							 	<input type="hidden" name="_method" value="PUT">
								<div class="form-group">
									<label for="nom">Matricule</label> 
									<input type="text" name="matricule"  th:value="${autocar.matricule}" class="form-control" placeholder="Matricule">
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="nom">Designation</label> 
											<input type="text" name="designation"  th:value="${autocar.designation}" class="form-control" placeholder="Designation">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="nom">Duree</label> 
											<input type="text" name="duree"  th:value="${autocar.duree}" class="form-control" placeholder="Duree">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="nom">N°.Telephone</label> 
									<input type="checkbox" name="statut"  th:value="${autocar.statut}" class="make-switch" data-on-text="Oui" data-off-text="Non" data-on-color="success" data-size="large" data-off-color="danger" checked>
								</div>
								<div class="form-group">
									<label for="">Description de panne</label>
									<textarea name="descriptionPanne"  th:value="${autocar.descriptionPanne}" class="form-control" id="descriptionPanne" cols="30" rows="5" placeholder="Description de panne"></textarea>
								</div>
								<div class="form-actions right">
									<button type="button" class="btn default">Annuler</button>
									<button type="submit" class="btn green">
										<i class="fa fa-check"></i> Enregistrer
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>