<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">
	<head>
		<meta charset="utf-8" />
		<!-- Title -->
		<title>Liste des lignes de voyages</title>
	</head>
<body>
	<div layout:fragment="content">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE BAR -->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li><a href="index.html">Tableau de bord</a> <i
						class="fa fa-circle"></i></li>
					<li><span>Lignes de voyages</span></li>
				</ul>
			</div>
			<!-- END PAGE BAR -->
			<!-- BEGIN PAGE TITLE-->
			<h1 class="page-title">
				Lignes de voyages
				<small class="pull-right"> 
					<a class="btn red btn-md" th:href="@{ /ligne/create }"> 
						<i class="fa fa-plus"></i> &nbsp; Nouvelle ligne
					</a>
				</small>
			</h1>
			<!-- END PAGE TITLE-->
			<!-- END PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- <div class="portlet grey-cascade box">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject uppercase">
									Chercher
								</span>
							</div>
							<div class="tools">
		                        <a href="" class="fullscreen" data-original-title="Agrandir" title="Agrandir"> </a>
		                    </div>
						</div>
						<div class="portlet-body">
							<div class="row">
								<div class="col-md-8">
									<label>Mot de recherche</label>
									<input type="text" name="query" class="form-control" placeholder="Chercher...">
								</div>
								<div class="col-md-2">
									<label>Chercher par</label>
									<select name="seracheBy" class="form-control">
										<option>Ville depart</option>
		                                <option>Ville arrive</option>
		                                <option>Ville escale</option>
		                                <option>Date depart</option>
		                                <option>Date arrive</option>
		                                <option>Date retour</option>
		                                <option>Duree voyage</option>
		                                <option>Duree repos</option>
		                                <option>Duree immob</option>
		                                <option>Killometrage</option>
		                                <option>Actions</option>
									</select>
								</div>
								<div class="col-md-2">
									<label>.</label>
									<button class="btn btn-warning btn-block">Chercher</button>
								</div>
							</div>
						</div>
					</div> -->
					<div class="portlet grey-cascade box">
						<div class="portlet-title">
							<div class="caption">
								<span class="caption-subject uppercase">
									Liste des lignes de voyages
								</span>
							</div>
							<div class="tools">
		                        <a href="" class="fullscreen" data-original-title="Agrandir" title="Agrandir"> </a>
		                    </div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered dataTable">
		                        <thead>
		                            <tr>
		                                <th>Ville depart</th>
		                                <th>Ville arrive</th>
		                                <th>Ville escale</th>
		                                <th>Date depart</th>
		                                <th>Date arrive</th>
		                                <th>Date retour</th>
		                                <th>Duree voyage</th>
		                                <th>Duree repos</th>
		                                <th>Duree immob</th>
		                                <th>Killometrage</th>
		                                <th>Actions</th>
		                            </tr>
		                        </thead>
		                        <tbody>
			                        <tr th:each="ligne:${lignes}">
			                            <td th:text="${ligne.villeDepart.nom}"></td>
			                            <td th:text="${ligne.villeArrive.nom}"></td>
			                            <td th:text="${ligne.villeEscale.nom}"></td>
			                            <td th:text="${#dates.format(ligne.dateDepart, 'dd/MM/yyyy') + ' à ' + ligne.heurDepart}"></td>
			                            <td th:text="${#dates.format(ligne.dateArrive, 'dd/MM/yyyy') + ' à ' + ligne.heurArrive}"></td>
			                            <td th:text="${#dates.format(ligne.dateRetour, 'dd/MM/yyyy') + ' à ' + ligne.heurRetour}"></td>
			                            <td th:text="${ligne.dureeVoyage}"></td>
			                            <td th:text="${ligne.dureeRepos}"></td>
			                            <td th:text="${ligne.dureeImmob}"></td>
			                            <td th:text="${ligne.kilometrage + ' Km'}"></td>
			                            <td class="td-actions">
			                            	<a th:href="@{'/ligne/edit/' + ${ligne.id}}" class="btn green-jungle btn-sm uppercase">
			                                	<i class="fa fa-edit"></i>
			                                </a>
			                                <form th:action="@{ '/ligne/delete/' + ${ ligne.id } }" style="display: inline-block" method="POST">
									 			<input type="hidden" name="_method" value="DELETE">
				                                <button class="btn red-flamingo btn-sm uppercase">
				                                	<i class="fa fa-trash-o"></i>
				                                </button>
				                            </form>
			                            </td>
			                        </tr>
		                        </tbody>
		                    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>